{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="">
            <h1 class="title">Home</h1>

            {{ form(searchbar) }}
        </div>


        {% if posts is empty %}
            <h3>Start following people to see their posts !</h3>
            {% else %}
                {% include '/post/index.html.twig' %}
        {% endif %}


    </div>

    {% include 'components/navbar.html.twig' %}

{% endblock %}
