{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="title">Results :</h1>
            {% for result in results %}
                <div class="follow-box">
                    <ul>
                        <li>
                            <a href="{{ path('app_user_profile', {'targetUser' : result.id}) }}">{{ result.username }}</a>
                        </li>
                    </ul>
                </div>
            {% endfor %}
    </div>

    {% include 'components/navbar.html.twig' %}


{% endblock %}
