{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="title">Sign up!</h1>

    <div class="post-box">
        {{ form(registrationForm) }}
    </div>
{% endblock %}
