{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    <h1 class="title">Créer un post</h1>

    <div class="post-box">

        <div class="new-post-form">
            {{ form(form) }}
        </div>

    </div>


    {% include 'components/navbar.html.twig' %}
{% endblock %}
