{% extends 'base.html.twig' %}

{% block title %}Hello navbar!{% endblock %}

{% block body %}

    <nav class="navbar">
        <ul>
            <li>
                <a href="{{ path('app_home', {'targetUser' : app.user.id }) }}"><i class="fa-solid fa-house"></i></a>
            </li>
            <li>
                <a href="{{ path('app_post_new') }}"><i class="fa-solid fa-plus"></i></a>
            </li>
            <li>
                <a href="{{ path('app_user_profile', {'targetUser' : app.user.id}) }}"><i class="fa-regular fa-user"></i></a>
            </li>
            <li>
                <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </li>
        </ul>
    </nav>


{% endblock %}
