{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    <div class="container">
        <h2>{{ targetUser.username }}'s followers : </h2>

        {% if followers is defined %}
            {% for follower in followers %}
                <div class="post-box">
                    <ul>
                        <li>
                            <a href="{{ path('app_user_profile', {'targetUser' : follower.id}) }}">{{ follower.username }}</a>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        {% else %}

            <div class="post-box">
                <p>{{ targetUser.username }} is not following anyone</p>
            </div>

        {% endif %}
    </div>

    {% include 'components/navbar.html.twig' %}


{% endblock %}
