{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    <div class="container">
        <h2>{{ targetUser.username }}'s followings : </h2>

            {% if followings is defined %}
                {% for following in followings %}
                    <div class="post-box">
                        <ul>
                            <li>
                                <a href="{{ path('app_user_profile', {'targetUser' : following.id}) }}">{{ following.username }}</a>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            {% else %}

            <div class="post-box">
                <p>Nobody's following Pierre</p>
            </div>

            {% endif %}
    </div>

    {% include 'components/navbar.html.twig' %}

{% endblock %}
